*{
    margin: 0;
    padding: 0;
}
.meme{
    width: 100%;
    height: 100vh;
    background:linear-gradient(360deg, purple, black) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.meme2{
    width: 75%;
    height: 75vh;
}
.meme2 video{
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.meme2 a{
    font-size: 30px;
    text-decoration: none;
}
.meme2 p{
    color: purple;
}